<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- name of the event log file, usually application, security or system -->
    <add key="logFileName" value="security"/>

    <!-- type of the event, specific to the log file, from msdn doc or event viewer -->
    <add key="eventType" value="4"/>

    <!-- event code, find out from event viewer -->
    <add key="eventCode" value="4672"/>

    <!-- regex pattern to match something in the message -->
    <add key="partialPattern" value=".*kal-sa.*"/>

    <!-- what program you want to run after a valid log entry -->
    <add key="runnable" value="c:\windows\notepad.exe"/>
  </appSettings>
</configuration>
